
.text-content.title h1 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  line-height: 1.5;
}

.text-content.subtitle1 h2 {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  margin: 15px 0;
  line-height: 1.5;
}

.text-content.subtitle2 h3 {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  margin: 10px 0;
  line-height: 1.5;
}

.text-content.text p {
  font-size: 14px;
  color: #333;
  text-align: left;
  line-height: 1.5;
  margin: 10px 0;
}

.grid-layout .grid-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.grid-layout .grid-text {
  font-size: 14px;
  color: #333;
  text-align: left;
  line-height: 1.5;
}

.grid-layout .grid-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.dashboard-img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.report-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 14px;
}

.report-table th,
.report-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.report-table th {
  font-weight: bold;
  background-color: #f5f5f5;
}

.report-table td em {
  font-style: italic;
}

.report-table td.right-italic-small {
  text-align: right;
  /* font-style: italic; */
  font-size: 14px; /* Chú thích nhỏ hơn */
}

.table-editor {
  display: flex;
  flex-direction: column;
}

.table-row {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.table-editor input {
  flex: 1;
  min-width: 100px;
  font-size: 14px;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.report-item iframe {
  width: 100%;
  height: 300px; /* Giảm kích thước iframe cho phù hợp với báo cáo */
  border: none;
  border-radius: 5px;
}

.report-item .p-4 {
  display: flex;
  gap: 10px;
}

.report-item .w-1/3 input,
.report-item .w-1/3 select {
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.report-item .w-2/3 input {
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}

.report-content {
  min-height: 100%;
  padding: 25mm 20mm 20mm 25mm; /* Căn lề: trên 2.5cm, phải 2cm, dưới 2cm, trái 2.5cm */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  width: 210mm; /* Kích thước A4 */
  margin: 0 auto;
}